__pycache__/
*.pyc
*.pyo
*.pyd

# PyInstaller
build/
dist/
*.spec

# Environments
.venv/
env/
venv/
ENV/
.db
.DS_Store
.env
.venv
venv/
env/
# Credentials and logs
*.log
credentials.json
build/
dist/
*.spec